/*
 * Footer
 *
 * Separated section of content at the bottom of all pages.
 */

.footer {
  padding-top: 40px;
  padding-bottom: 30px;
  margin-top: 100px;
  color: #777;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}