{% macro careerblock(career) -%}
<div class="career_left_column">
<a name="{{ career.getName() }}"><h1>{{ career.getName() }}</h1></a>
<p>{{ career.getStats() }}</p>
<p>{{ career.getDescription() }}</p>
<h3 class="basic_move_name">Recovery</h3>
<p>{{ career.getRecovery() }}</p>
</div>
<div class="career_middle_column">
	<h2>Moves</h2>
	<p>{{ career.getMoveInstructions() }}</p>
	{% for move in career.getMoves() %}
		<div class="move" id="{{career.getName()}}.{{move.getName()}}">
			<h3 class="move_name">{{move.getName()}}</h3>
			<p>{{move.getBody()}}</p>
		</div>
	{% endfor %}
</div>
<div class="career_right_column">
	<h2>History</h2>
	<ul>
	{% for event in career.getHistory() %}
	<li>{{ event }}</li>
	{% endfor %}
	</ul>
</div>
{%- endmacro %}