p {
  font-family: 'Neuton', serif;
  text-align: justify;
}

h1 {
  font-family: 'Averia Libre', serif;
}

h2 {
  font-family: 'Averia Libre', serif;
}

li {
  font-family: 'Neuton', serif;
}

#main {
  width: 600px;
  margin:0 auto;
}

#navWrap {
   height: 30px;
}

#nav {
   padding: 5px;
   background: #999; 
   height: 30px;   
}

#nav ul {
   margin: 0;
   padding: 0;    
}

#nav li {
   float: left;
   padding: 3px 8px;
   margin: 0 10px 0 0;
   color: #FFF;
   list-style-type: none;
   font-family: 'Averia Libre', serif;
}

#nav li a {
   color: #FFF;  
   text-decoration: none;    
}

.current {
  text-decoration: underline !important; 
}

#nav li a:hover {
   text-decoration: underline;   
}