p {
  font-family: 'Neuton', serif;
}

h1 {
  font-family: 'Neuton', serif;
}

h2 {
  font-family: 'Neuton', serif;
}

li {
  font-family: 'Neuton', serif;
}

#main {
  width: 600px;
  margin:0 auto;
}