{% import 'macros/career.html' as careermacros %}
{% import 'macros/setup.html' as setupmacros %}

<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Neuton:400,700,400italic|Averia+Libre:700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
		
		<title>Black Stars Rise</title>
	</head>
	
	<body>
		<div id="header">
			<h1>Black Stars Rise</h1>
		</div>
		<div class="colmask leftmenu">
			<div class="colleft">
				<div class="col1">
					<div class="text">
						{% if text %}
							{{ text }}
						{% endif %}
						{% if careers %}
							{% for career in careers %}
								{{ careermacros.careerblock(career) }}
							{% endfor %}
						{% endif %}
						{% if setups %}
							{% for setup in setups %}
								{{ setupmacros.setupblock(setup) }}
							{% endfor %}
						{% endif %}
					</div>
				</div>
				
				
				<div class="col2">
	                <ul>
						{% for section in sections %}
							<li><a href="/section/{{ section.getKey() }}" {% if section.getKey() == current %}class="current"{% endif %}>{{ section.getTitle() }}</a>
								{% if section.getKey() == current %}
									{% if career_names %}
									<ul>
										<li>Careers
										<ul>
										{% for career in career_names %}
											<li><a href="#{{ career }}">{{ career }}</a></li>
										{% endfor %}
										</ul></li>
										<li>Setups
										<ul>
										{% for setup in setup_titles %}
											<li><a href="#{{ setup }}">{{ setup }}</a></li>
										{% endfor %}
										</ul></li>
					                </ul>
									{% endif %}
								{% endif %}</li>
						{% endfor %}
	                </ul>  
	                <br />
				</div>

			</div>
		</div>
	</body>
</html>