{% import 'macros/career.html' as careermacros %}
{% import 'macros/setup.html' as setupmacros %}
{% import 'macros/basicmove.html' as basicmovemacros %}

<html>
	<head>
		<title>Black Stars Rise</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href='http://fonts.googleapis.com/css?family=Neuton:400,700,400italic|Averia+Libre:700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link href="../css/navbar.css" rel="stylesheet" media="screen">
		<link href="../css/sections.css" rel="stylesheet" media="screen">
		<link href="../css/footer.css" rel="stylesheet" media="screen">	
		<!-- Bootstrap -->
		<link href="../css/bootstrap.min.css" rel="stylesheet" media="screen">	
		<script src="http://code.jquery.com/jquery.js"></script>
		<script src="../js/bootstrap.min.js"></script>
	</head>
	
	<body data-spy="scroll" data-target=".sidebar">
		<div class="row">
			<div class="col-md-11 col-md-offset-1"><h1>Black Stars Rise</h1></div>
		</div>
		
		<div class="row">
			<div class="col-md-2 col-md-offset-1">
				<div class="bs-sidebar affix" >
				<ul class="nav bs-sidenav">
					{% for part in parts %}
						<li {% if part.getKey() == current %}class="active"{% endif %}><a href="/part/{{ part.getKey() }}">{{ part.getTitle() }}</a>
							{% if part.getKey() == current %}
								<ul class="nav">
									{% for section in sections %}
										<li><a href="#{{ section.getTitle() }}">{{ section.getTitle() }}</a></li>
									{% endfor %}
									{% for career in career_names %}
										<li><a href="#{{ career }}">{{ career }}</a></li>
									{% endfor %}
									{% for setup in setup_titles %}
										<li><a href="#{{ setup }}">{{ setup }}</a></li>
									{% endfor %}
									{% for move in moves %}
										<li><a href="#{{ move.getName() }}">{{ move.getName() }}</a></li>
									{% endfor %}
									{% for pair in breaks %}
										<li><a href="#{{ pair[0].getName() }}">{{ pair[0].getName() }}</a></li>
										{% if pair[1] %}
											<li><a href="#{{ pair[1].getName() }}">{{ pair[1].getName() }}</a></li>
										{% endif %}
									{% endfor %}
								</ul>
							{% endif %}
						</li>
					{% endfor %}
                </ul>
				</div>
			</div>
			
			<div class="col-md-8">
				{% if sections %}
					<div class="row">
						<div class="col-md-8">
							{% for section in sections %}
								<div class="section"><a name="{{ section.getTitle() }}"></a>{{ section.getText() }}</div>
							{% endfor %}
						</div>
					</div>
				{% endif %}
				{% if careers %}
					{% for career in careers %}
						{{ careermacros.careerblock(career) }}
					{% endfor %}
				{% endif %}
				{% if setups %}
					{% for setup in setups %}
						{{ setupmacros.setupblock(setup) }}
					{% endfor %}
				{% endif %}
				{% if moves %}
					{% for move in moves %}
					 {{ basicmovemacros.basicmoveblock(move) }}
					{% endfor %}
				{% endif %}
				{% if breaks %}
					{% for pair in breaks %}
						<div class="row">
							<div class="col-md-6">
								 <div class="panel panel-default">
									<a name="{{ pair[0].getName() }}"></a>
									<div class="panel-heading">
										<h3>{{ pair[0].getName() }}</h3>
									</div>
									<div class="panel-body">
										<p>{{ pair[0].getDescription() }}</p>
									</div>
								</div>
							</div>
							{% if pair[1] %}
								<div class="col-md-6">
									 <div class="panel panel-default">
										<a name="{{ pair[1].getName() }}"></a>
										<div class="panel-heading">
											<h3>{{ pair[1].getName() }}</h3>
										</div>
										<div class="panel-body">
											<p>{{ pair[1].getDescription() }}</p>
										</div>
									</div>
								</div>
							{% endif %}
						</div>
					{% endfor %}
				{% endif %}
			
			</div>
		</div>
		<div class="row footer">
			<div class="col-md-2 col-md-offset-3">
				<a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a>
				
			</div>
			<div class="col-md-3">
				<p><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Black Stars Rise</span> by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Sage LaTorra &amp; Adam Koebel</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a>.</p>
			</div>
		</div>
	</body>
</html>